*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
}
li {
	list-style-type: none;
}
img {
	width: 100px;
}
/* ==============================Global==================================*/
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.title {
	font-size: 30px;
	font-weight: bold;
}
.subtitle {}
/*===============================Header===================================*/
.header {
	background-color: rgb(23, 22, 39);
}
.header__title {
	color: rgb(199, 198, 198);
	padding-top: 25px;
	padding-left: 10px;  
}
.header__title span {
	color: #61dafb;
}

.logo {
	display: flex;
}